* {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
	--gray: #1D1755;
	--black: #241F21;

}

a {
	text-decoration: none;
	color: var(--black);
	font-weight: bold;
	font-size: 2rem;
	transition: all 1s linear;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
	transition: all 1s linear;
	color: #1D1755;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}


.wrapper {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
background-image: url(25128298.jpg);
	justify-content: space-around;
	
}
.showd{
	width: 100%;
	display: block;
	justify-content: center;
	align-items: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:#1D1755;
	font-size: 2rem;
}

.bg{
	width: 100%;
}




header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0px 16px 99px -5px rgba(0, 0, 0, 0.57);
}

.nav {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 70px;
	height: 70px;
}

.banner {
	width: 100%;
	height: 80vh;
	background-image: url('25128298.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #1D1755;
	opacity: 0.9;
	
}



.title {
    width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 2rem;
}

h2 {
	text-align: center;
	color: #000000 ;
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 9rem;

}

h2 {
    font-size: 2rem;
}


.show {
	 background-color: #ccc;
	  margin: 10px;
	  display: flex;
	  justify-content:space-between;
	width: 30%;
	border: 1px solid #1D1755;
  }
  
  .show-tumb:hover {
	transition: all 1s linear;
	filter: blur(8px);
	 
}
.show-details:hover{
	transition: all 0.5s linear;
	color:#1D1755;
	font-style: bold;
	font-size: 2rem;
	
}
.show-titel:hover {
	transition: all 0.5s linear;
	color:#1D1755;
	font-style: bold;
	size: 4rem;
	text-transform: uppercase;

}
.show-rating{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#fbutt{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
  .showpg{
	background-color: #ccc;
	margin: 10px;
	display: flex;
	justify-content:space-between;
  width: 30%;
  border: 1px solid #1D1755;

  }
  .showvid{
margin-top: 10px;
	display: block;
	justify-content: center;
	align-items: center;
	width: 100%;
    display: flex;
    flex-wrap: wrap;

  }
.footer {
    width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	background-color: var(--gray);
       
}
